:root {
   --purple:  hsl(246, 80%, 60%);
   --background-color:  hsl(226, 43%, 10%);
   --orange-work: hsl(15, 100%, 70%);
   --blue-play: hsl(195, 74%, 62%);
   --pink-study: hsl(348, 100%, 68%);
   ---green-exercise: hsl(145, 58%, 55%);
   --purple-social: hsl(264, 64%, 52%);
   --yellow-self-care: hsl(43, 84%, 65%);
   --Navy: hsl(235, 46%, 20%);
   --light-purple: hsl(235, 45%, 61%);
   --navy-light: hsl(236, 100%, 87%);
}

body {
   color: #fff;
   background-color: var(--background-color);
   font-weight: 300;
   font-size: 18px;
   font-family: "Rubik", sans-serif;
}

.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 30px;
   margin: 5%;
}

.profile-card {
   grid-row: span 2;
   background-color: var(--Navy);
   border-radius: 15px;
}
.profile {
   display: block;
   height: 70%;
   background-color: var(--purple);
   border-radius: 15px;
}
.jeremy-img {
   margin: 2rem auto auto 2rem;
}
.report-for {
   display: block;
   margin: 2.5rem auto 5px 2rem;
}
h1 {
   width: 6ch;
   margin: auto auto auto 2rem;
}

.date {
   height: 30%;
   background-color: transparent;
   

}
.date button {
   color: var(--navy-light);
   display: block;
   margin: 1.2rem auto 10px 2rem;
   background-color: transparent;
   border: none;
}
.date button:hover {
   color: #fff;
   transition: 0.4s;
}

.card {
   background-color: var(--Navy);
   border-radius: 15px;
}
.work-top-bg-color {
   height: 40px;
   background-color: var(--orange-work);
   background-image: url(assets/icon-work.svg);
   background-repeat: no-repeat;
   background-position-x: 85%;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   z-index: -1;
}
.play-top-bg-color {
   height: 40px;
   background-color: var(--blue-play);
   background-image: url(assets/icon-play.svg);
   background-repeat: no-repeat;
   background-position-x: 85%;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   z-index: -1;
}
.study-top-bg-color {
   height: 40px;
   background-color: var(--pink-study);
   background-image: url(assets/icon-study.svg);
   background-repeat: no-repeat;
   background-position-x: 85%;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   z-index: -1;
}
.exercise-top-bg-color {
   height: 40px;
   background-color: var(---green-exercise);
   background-image: url(assets/icon-exercise.svg);
   background-repeat: no-repeat;
   background-position-x: 85%;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   z-index: -1;
}
.social-top-bg-color {
   height: 40px;
   background-color: var(--purple-social);
   background-image: url(assets/icon-social.svg);
   background-repeat: no-repeat;
   background-position-x: 85%;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   z-index: -1;
}
.self-care-top-bg-color {
   height: 40px;
   background-color: var(--yellow-self-care);
   background-image: url(assets/icon-self-care.svg);
   background-repeat: no-repeat;
   background-position-x: 85%;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   z-index: -1;
}
.heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
}
.heading p {
   font-weight: 700;
   font-size: 18px;
}